*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: contain;
    background-position: center;
    
}
.navbar{
    width: 85%;
    top: 200%;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    width: 200px;
    cursor: pointer;
    float: left;
    margin-left: -100px;
    margin-top: -35px;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
}
.navbar ul li a{
    text-decoration: none;
    color: gold;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: darkkhaki;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
    background-color: gray;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50px);
    text-align:center;
    color: azure;
}
.content h1{
    font-size: 70px;
    margin-top: 10px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
@media (max-width: 768px) {
    .logo {
        margin-top: -10px; /* Adjusted logo size for smaller screens */
        margin-left: -230px;
        width: 120px;
    }
    .content h1 {
        font-size: 40px;
    }
    .content p {
        padding: 0 20px;
    }
    button {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px; /* Further reduced logo size for smaller screens */
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul {
        margin: 10px 0;
    }
    .navbar ul li {
        margin: 5px 0;
        display: inline-block;
        font-size: 11px;    
    }
    .content h1 {
        font-size: 30px;
    }
    .content p {
        font-size: 14px;
    }
    button {
        width: 120px;
        padding: 10px 0;
        font-size: 14px;
    }
}